.your-element {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.your-element::-webkit-scrollbar {
    display: none;
}

@keyframes scroll-animation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.slider img {
    display: block;
    height: 40px;
    width: auto;
}

.slider {
    animation: scroll-animation 10s linear infinite;
    display: flex;
    width: max-content;
    will-change: transform;
    gap: 30px;
}
.slider:hover {
    animation-play-state: paused;
}
.strategyCardTransition{
    transition: all;
}

.FaqCardTransition{
    transform: translateY(-100%);
}
/* @keyframes fixedbtn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
.fixedbtn{
animation: fixedbtn 2s ease-in-out 0s infinite forwards;
} */